body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-list {
  /* display: flex;
  gap: 40px; */
  display: none;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  padding: 17px 0;
}

.logo-part {
  color: #2e2f42;
}

.menu-item {
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.modal-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}
/* ------------mob-menu-------------- */
.mob-menu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mob-menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-bottom: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  background-color: transparent;
  height: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-list {
  margin-bottom: auto;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.current {
  color: #404bbf;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.span-tel-mob {
  color: #4d5ae5;
}

.address-list {
  display: flex;
}
.mob-social-list {
  gap: 40px;
  display: flex;
}
.mob-social-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link:hover,
.mob-social-link:focus {
  color: #404bbf;
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: #404bbf;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: #404bbf;
}

.mob-social-icon {
  fill: #f4f4fd;
}
/* --------------modal-mob-form----------------- */

/* -------------------hero------------------- */

.section-solution {
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center;
  padding: 72px 0;
  background-size: cover;
  /* max-width: 1440px; */
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob-bg.jpg);
  width: 320px;
  height: 432px;
}

.solutions-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.1;
  max-width: 216px;
  margin: 0 auto 72px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* -------------section1----------------- */
.section {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
}

.features-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box-icon {
  display: none;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.ourteam-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.ourteam-item {
  width: 40px;
  height: 40px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-link:hover,
.ourteam-link:focus {
  background-color: #404bbf;
}

.ourteam-image {
  fill: #f4f4fd;
}
/* ----------section2------------- */
.team-section {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-container {
  padding: 0 28px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-item {
  background-color: #fff;
}
.ourteam-item-box {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.portfolio-title-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-item:focus .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 288px;
}

.cover {
  position: relative;
  width: 288px;
  height: 280px;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background: #2e2f42;

  padding: 96px 0;
}

.footer-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-link-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  text-align: start;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-main-box {
  text-align: center;
}

.footer-cont {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.team-section {
  background-color: #f4f4fd;
}

.modal-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.modal-subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.modal-subscribe-label {
}
.modal-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  outline: none;
}

.modal-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.modal-subscribe-btn {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  justify-content: center;
  border-radius: 4px;
  width: 165px;
  height: 40px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.modal-subscribe-btn:hover,
.modal-subscribe-btn:focus {
  background-color: #404bbf;
}

.modal-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}
/* -------------------modal-form-------------------- */
.modal-overlay {
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-close-wrapper {
  display: flex;
  justify-content: end;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: #ffffff;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.feedback-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.feedback-form-wrapper {
  margin-bottom: 8px;
}
.feedback-textarea {
  margin-bottom: 16px;
}

.feedback-label {
  line-height: 1.17;
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  margin-top: 8px;
}
.feedback-label:first-child {
  margin-top: 0;
}
.feedback-input-container {
  position: relative;
}
.feedback-input {
  display: block;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.feedback-input:hover,
.feedback-input:focus {
  border: 1px solid #4d5ae5;
}
.feedback-input:hover + .feedback-icon-name,
.feedback-input:focus + .feedback-icon-name {
  fill: #4d5ae5;
}
.feedback-icon-name {
  position: absolute;
  left: 16px;
  transform: translateY(-50%);
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input-comment {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input-comment:hover,
.feedback-input-comment:focus {
  border-color: #4d5ae5;
}
.feedback-input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.feedback-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin: 16px auto;
  padding-left: 8px;
}
.feedback-text-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.feedback-input-checkbox:checked + label .feedback-text-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.feedback-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-text-checkbox {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback-text-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.feedback-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-button:hover,
.feedback-button:focus,
.feedback-button:active {
  background: #404bbf;
}

/* ----------media------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mob-menu {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }

  .modal-menu-btn {
    display: none;
  }

  .address {
    display: block;
  }

  .logo {
    margin-right: 120px;
  }

  .menu-item .current {
    color: #404bbf;
    position: relative;
  }

  .current:after {
    content: "";
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link:active:after {
    content: "";
    background-color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: #404bbf;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .address-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  /* ---------hero----------- */

  .section-solution {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-bg.jpg);
    width: 768px;
    height: 436px;
  }

  .solutions-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  @media (min-resolution: 192dpi) {
    .section-solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tab-bg2x.jpg);
    }
  }
  /* ----section1---- */
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .title {
    width: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: start;
  }
  .team-container {
    padding: 0 108px;
  }
  .team-list {
    gap: 64px 24px;
    justify-content: center;
  }
  /* ------portfolio------ */
  .portfolio-list {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cover {
    width: 356px;
    height: 300px;
  }
  .portfolio-item-box {
    width: 356px;
  }

  /* -------------footer----------- */

  .footer-text {
    text-align: start;
  }
  .footer-cont {
    gap: 72px 24px;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .footer-main-box {
    text-align: left;
  }

  .modal-subscribe-form {
    flex-wrap: nowrap;
  }
  .footer-social-text {
    text-align: left;
  }
  .modal-subscribe-text {
    text-align: left;
  }
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }

  .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
  /* ---------hero----------- */
  .section-solution {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-dt-bg.jpg);
    width: 1440px;
    height: 600px;
  }

  @media (min-resolution: 192dpi) {
    .section-solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-dt-bg2x.jpg);
    }
  }

  .solutions-title {
    margin: 0 auto 48px;
    max-width: 496px;
  }
  /* -------section1--------- */
  .features-list {
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .box-icon {
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .title {
    width: calc((100% - 72px) / 4);
  }

  .text {
    font-weight: 400;
  }

  @media (min-resolution: 192dpi) {
    .section-solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-mob-bg2x.jpg);
    }
  }

  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team-section {
    padding: 120px 0;
  }
  /* --------------portfolio------------ */

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item-box {
    width: 360px;
  }
  .cover {
    width: 360px;
    height: 300px;
  }
  .portfolio-image {
    width: 360px;
    height: 300px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-cont {
    gap: unset;
  }
  .footer-main-box {
    margin-right: 120px;
  }
  .modal-subscribe {
    margin-left: auto;
  }
}
